<%# http://localhost:3000/rails/info/routes %>
<%# rails view form, https://guides.rubyonrails.org/form_helpers.html  %>
<%= render partial: "banner", locals: {
	content: "我是內容", 
	notice: "test"	
} %>


<%# hash技巧 https://pjchender.dev/ruby-on-rails/ruby-hash/ %>
<% my_default_hash = Hash.new{ |h, k| h[k] = { video_counts: 0, device_counts: 0 } } %>
<%# my_hash = {} %>
<%
	hash = {
	  image: {
	    '1x': 'v6/customer_brands/openstack.png',
	    '2x': 'v6/customer_brands/openstack@2x.png'
	  } 
	}
%>
<%# hash[:image][:'1x']  %>

<%= content_tag :div, id: "post_index" do %>
	<%= content_tag :h1, class: "post_title" do %>
		<%= link_to "Rails 7.0 for CRUD Test", posts_path %>
	<% end %>
	<%= content_tag :hr %>
	<%= form_tag(url_for(action: :index), method: "get") do %>
	 <%= label_tag(:q, "Search for:") %>
	 <%= text_field_tag(:q) %>
	 <%= submit_tag("搜尋") %>
	<% end %>
	<%= content_tag :hr %>
	<%= form_tag(posts_path, method: :post, multipart: false) do %>
		<%= text_field_tag 'post[title]', "", class: 'form-control' %>
		<%= text_area_tag('post[contact]', "", size: "24x6") %>
		<%= submit_tag("Check Ok") %>	
	<% end %> 
	<%= content_tag :hr %>
	posts datas <%= content_tag :br %>
	<%= content_tag :table, class: "post_table" do %>
		<%= content_tag :tr do %>
			<th>Sn</th>
			<th>Title</th>
			<th>Contact</th>
			<th></th>
		<% end %>
		<% @posts.each do |post| %>		
			<%= content_tag :tr do %>
				<td><%= post.id %> </td>
				<td><%= post.title %> </td>
				<td><%= post.contact %></td>
				<td>
					<%= link_to "查看", post_path(post) %> 、 
					<%= link_to "編輯", edit_post_path(post) %> 、
					<%= link_to "Delete", post_path(post), class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
				    <%# button_to 'Destroy', post_path(post), method: :delete, data: { turbo_confirm: "Are you sure?" } %>
					<%# link_to post_path(post), method: :delete, class:  "btn btn-danger btn-xs", confirm:  "Are you sure ?" do %>
			           <!-- <i class="fa fa-trash-o"></i>  -->
			     	<%# end %>  
				</td>
			<% end %>
		<% end %>
	<% end %>
	<%= content_tag :hr %>
	<% if false %>
	<%= content_tag :p do %>
    	<%= link_to "New posts", new_post_path %>
	<% end %>
	<% end %>
<% end %>