<!DOCTYPE html>
<html>
  <head>
    <title>Backend page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# 使用css %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# 使用js %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
