<!DOCTYPE html>
<html>
  <head>
    <title>Backend page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    
    <%# 使用c ss %> 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# 使用 importmap %>
    <%= javascript_importmap_tags %>  

    <%# 使用 js %>
    <%= javascript_include_tag "backend/index", "data-turbo-track": "reload" %>
    <%# javascript_include_tag "application" %> 
    <%# javascript_include_tag "application", "data-turbolinks-track": "reload", defer: true %>
  </head>
  <body>
    <%= render partial: "layouts/backend/nav" %>
    <%= yield %>
  </body>
</html>
