<!DOCTYPE html>
<html>
  <head>
    <title>Public page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%# 使用css %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%# 使用js %> 
    <%= javascript_importmap_tags %>  
    <%= javascript_include_tag "cjs/cc", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <%# javascript_include_tag "backend/index", "data-turbo-track": "reload" %>
    <%# , "data-turbolinks-track": "reload", defer: true %>
  </head> 
  <body>
    <%= yield %>
  </body>
</html>
